<div class="container">
  <h1>Listing passive_activities</h1>

  <table>
    <thead>
      <tr>
        <th>Passive data point</th>
        <th>Type</th>
        <th>Value</th>
        <th>Unit</th>
        <th>Kcal burned value</th>
        <th>Kcal burned unit</th>
        <th>Step count</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @passive_activities.each do |passive_activity| %>
        <tr>
          <td><%= passive_activity.passive_data_point_id %></td>
          <td><%= passive_activity.activity_type %></td>
          <td><%= passive_activity.value %></td>
          <td><%= passive_activity.unit %></td>
          <td><%= passive_activity.kcal_burned_value %></td>
          <td><%= passive_activity.kcal_burned_unit %></td>
          <td><%= passive_activity.step_count %></td>
          <td><%= link_to 'Show', passive_activity %></td>
          <td><%= link_to 'Edit', edit_passive_activity_path(passive_activity) %></td>
          <td><%= link_to 'Destroy', passive_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Passive activity', new_passive_activity_path %>
</div>