<% if @user == nil %>
    <% user = current_user %>
<% else %>
    <% user = @user %>
<% end %>

<% if $capture_date == nil %>
    <% $capture_date = Time.zone.now.to_date %>
<% end %>

<% @capture_moods = Mood.where(user_id: user.id, timestamp: ($capture_date.at_beginning_of_day.in_time_zone..$capture_date.end_of_day.in_time_zone)) %>

<br>

<div class="scroller">
  <% if !@capture_moods.nil? %>
      <% @capture_moods.each do |mood| %>
          <div class="capture_show">
            <p>
              <strong><%= t "repeat.mood.mlevel" %></strong>
              <br>
            <center>
              <% if mood.mood_rating == 1 %>
                  <%= t "repeat.mood.sdep" %>
              <% elsif mood.mood_rating == 2 %>
                  <%= t "repeat.mood.moddep" %>
              <% elsif mood.mood_rating == 3 %>
                  <%= t "repeat.mood.mildep" %>
              <% elsif mood.mood_rating == 4 %>
                  <%= t "repeat.mood.baseline" %>
              <% elsif mood.mood_rating == 5 %>
                  <%= t "repeat.mood.milel" %>
              <% elsif mood.mood_rating == 6 %>
                  <%= t "repeat.mood.milel" %>
              <% elsif mood.mood_rating == 7 %>
                  <%= t "repeat.mood.sel" %>
              <% end %>
            </center>
            </p>

            <p>
              <strong><%= t "repeat.mood.alevel" %></strong>
              <br>
            <center>
              <% if mood.anxiety_rating == 1 %>
                  <%= t "repeat.mood.none" %>
              <% elsif mood.anxiety_rating == 2 %>
                  <%= t "repeat.mood.mild" %>
              <% elsif mood.anxiety_rating == 3 %>
                  <%= t "repeat.mood.mod" %>
              <% elsif mood.anxiety_rating == 4 %>
                  <%= t "repeat.mood.sev" %>
              <% end %>
            </center>
            </p>

            <p>
              <strong><%= t "repeat.mood.ilevel" %></strong>
              <br>
            <center>
              <% if mood.irritability_rating == 1 %>
                  <%= t "repeat.mood.none" %>
              <% elsif mood.irritability_rating == 2 %>
                  <%= t "repeat.mood.mild" %>
              <% elsif mood.irritability_rating == 3 %>
                  <%= t "repeat.mood.mod" %>
              <% elsif mood.irritability_rating == 4 %>
                  <%= t "repeat.mood.sev" %>
              <% end %>
            </center>
            </p>

            <br>

            <div class="slider-timestamp">
              <center>
                <%= mood.timestamp.strftime("%I:%M %p") %><br>
                <%= link_to t("menu.edit"), edit_mood_path(id: mood.id), remote: true, class: "btn btn-sm" %><br>
              </center>
            </div>
          </div>
      <% end %>
  <% end %>
  <% if @capture_moods.nil? || @capture_moods.count < MAX_MOOD_ENTRIES %>
      <div class="capture_button">
        <center>
          <br>
          <%= link_to t("capture.show.mood.add"), new_mood_path(capture_source: 'mood'), remote: true, class: "btn btn-primary btn-lg" %>
          <br>
        </center>
      </div>
  <% end %>
</div>


<script type="text/javascript">
    $('.scroller').slick({
        dots: true
    })
</script>