<% if @user == nil %>
  <% user = current_user %>
<% else %>
  <% user = @user%>
<% end %>

<% if $capture_date == nil %>
  <% $capture_date = Date.today %>
<% end %>

<% @capture_moods = Mood.where(user_id: user.id, timestamp: ($capture_date.at_beginning_of_day.in_time_zone..$capture_date.end_of_day.in_time_zone)) %>

<% (1..8).each do %>
  <br>
<% end %>
<div class="scroller">
<% if !@capture_moods.nil? %>
  <% @capture_moods.each do |mood| %>
    <div>
      <p>
        <strong>Mood Level:</strong>
        <br>
        <center>
          <% if mood.mood_rating == 1 %>
            <%= "Severely Depressed" %>
          <% elsif mood.mood_rating == 2 %>
            <%= "Moderately Depressed" %>
          <% elsif mood.mood_rating == 3 %>
            <%= "Mildly Depressed" %>
          <% elsif mood.mood_rating == 4 %>
            <%= "Baseline" %>
          <% elsif mood.mood_rating == 5 %>
            <%= "Mildly Elevated" %> 
          <% elsif mood.mood_rating == 6 %>
            <%= "Moderately Elevated" %>
          <% elsif mood.mood_rating == 7 %>
            <%= "Severely Elevated" %> 
          <% end %>
        </center>
      </p> 

      <p>
        <strong>Anxiety Level:</strong>
        <br>
        <center>
          <% if mood.anxiety_rating == 1 %>
            <%= "None" %>
          <% elsif mood.anxiety_rating == 2 %>
            <%= "Mild" %>
          <% elsif mood.anxiety_rating == 3 %>
            <%= "Moderate" %>
          <% elsif mood.anxiety_rating == 4 %>
            <%= "Severe" %>
          <% end %>
        </center>
      </p>

      <p>
        <strong>Irritability Level:</strong>
        <br>
        <center>
          <% if mood.irritability_rating == 1 %>
            <%= "None" %>
          <% elsif mood.irritability_rating == 2 %>
            <%= "Mild" %>
          <% elsif mood.irritability_rating == 3 %>
            <%= "Moderate" %>
          <% elsif mood.irritability_rating == 4 %>
            <%= "Severe" %>
          <% end %>
        </center>
      </p>
      <% (1..7).each do %>
        <br>
      <% end %>
      <center>
        <%= mood.timestamp.strftime("%I:%M %p") %><br>
        <%= link_to 'Edit', edit_mood_path(id: mood.id), remote: true, class: "btn btn-sm" %><br>
      </center>
    </div>
  <% end %>
<% end %>
<% if @capture_moods.nil? || @capture_moods.count < MAX_MOOD_ENTRIES %>
  <div>
    <center>
      <% (1..8).each do %>
        <br>
      <% end %>
      <%= link_to 'Add Mood', new_mood_path(capture_source: 'mood'), remote: true, class: "btn btn-primary btn-lg" %><br>
      <% (1..8).each do puts @capture_moods %>
        <br>
      <% end %>
    </center>
  </div>
<% end %>
</div>


<script type="text/javascript">
  $('.scroller').slick({
    dots: true
  })
</script>