<div class="container">
  <h2>Edit User</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group"><%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %></div>

      <div class="form-group"><%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true %></div>

      <div class="form-group"><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :timezone %><br />
        <%= f.time_zone_select :timezone %>
      </div>

      <%= f.fields_for :reward do |reward_form| %>
          <%= reward_form.check_box :rewards_enabled %>
          <%= reward_form.label "Rewards Enabled" %>
      <% end %>

      <div class="form-group"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div class="form-group"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div class="form-group"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <% # if can? :assign_roles, @user %>
      <% if user_signed_in? && (current_user.is? :superuser) %>
        <div class="form-group">
          <% for role in User::ROLES %>
            <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
            <%= label_tag "user_roles_#{role}", role.humanize %><br />
          <% end %>
          <%= hidden_field_tag "user[roles][]", "" %>
        </div>
      <% end %>
      <div class="actions"><%= f.submit "Update" %></div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
</div>