<section class="content-20 v-center bg-wet-asphalt">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3><%= t "mydevise.registrations.new.signup" %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="signup-form">
            <%= render "devise/shared/omniauth_buttons" %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "clearfix"}) do |f| %>
                <%= devise_error_messages! %>
                <br>

                <div class="form-group">
                  <label><%= t "label.fn" %></label>
                  <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label><%= t "label.ln" %></label>
                  <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label><%= t "label.email" %></label>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
                <div class="clearfix">
                  <div class="form-group pull-left">
                    <label><%= t "label.pw" %>
                      <% if @validatable %><i><%= t("mydevise.registrations.edit.edit", :var => @miniumum_password_length) %></i>
                      <% end %></label>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                  <div class="form-group pull-right">
                    <label><%= t "mydevise.registration.new.confirmation" %></label>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                  </div>
                </div>
                <div class="actions"><%= f.submit t("repeat.signup"), class: "btn btn-huge btn-success" %></div>
                <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 features">
          <div class="row">
            <div class="col-sm-12">
              <%= t("mydevise.registrations.new.agreement_html", :termsandcons => link_to(t("pages.footer.tandc"), page_path('terms')), :privacypolicy => link_to(t("pages.footer.privacypolicy"), page_path('privacy'))) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "pages/footer" %>