<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1><%= t "mailboxer.mailer.notification.have" %> <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %></h1>

<p>
  <%= t "mailboxer.mailer.notification.received" %>
</p>
<blockquote>
  <p>
    <%= raw @notification.body %>
  </p>
</blockquote>
<p>
  <%= t("mailboxer.mailer.notification.visit_html", :link => link_to(root_url, root_url)) %>
</p>
</body>
</html>