<h1><%= t "predefinedcards.index.list" %></h1>

<table>
  <thead>
  <tr>
    <th><%= t "predefinedcards.index.text" %></th>
    <th><%= t "predefinedcards.index.category" %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pre_defined_cards.each do |pre_defined_card| %>
      <tr>
        <td><%= pre_defined_card.text %></td>
        <td><%= pre_defined_card.category %></td>
        <td><%= link_to t("menu.show"), pre_defined_card %></td>
        <td><%= link_to t("menu.edit"), edit_pre_defined_card_path(pre_defined_card) %></td>
        <td><%= link_to t("menu.destroy"), pre_defined_card, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t("predefinedcards.index.new"), new_pre_defined_card_path %>
