<% message_texts = [ "Hello World!!!", "Hack the planet!!!", "Goodbye, it is time for me to go..." ] %>

<center><h2>Send Support to a Thriver</h2></center>

<br>

<div class="container">
  <div class="row">
    <% message_texts.each do |message_text| %>
      <%= form_tag messages_path, method: :post do %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-height-indicator"></div>
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <%= hidden_field_tag 'message[subject]', "T-Max", class: 'form-control', required: true %>
                  </div>
                  <div class="form-group">
                    <center><h3><%= message_text %></h3></center>
                    <%= hidden_field_tag 'message[body]', message_text, class: 'form-control', required: true %>
                  </div>
                </div>
                <footer class="card-footer">
                  <div class="form-group">
                    <%= label_tag 'recipients', 'Choose recipients' %>
                    <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control chosen-it' %>
                  </div>
                  <%= submit_tag 'Send', class: 'btn btn-flat btn-primary' %>
                </footer>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="row">
    <%= form_tag messages_path, method: :post do %>
      <div class="col-md-4">
          <div class="card">
            <div class="card-height-indicator"></div>
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group">
                    <%#= label_tag 'message[subject]', 'Subject' %>
                    <%#= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
                    <%= hidden_field_tag 'message[subject]', "Custom", class: 'form-control', required: true %>
                  </div>
                  <div class="form-group">
                    <%#= label_tag 'message[body]', 'Message' %>
                    <center><h3>Custom Message</h3></center>
                    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
                  </div>
                </div>
                <footer class="card-footer">
                  <div class="form-group">
                    <%= label_tag 'recipients', 'Choose recipients' %>
                    <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control chosen-it' %>
                  </div>
                  <%= submit_tag 'Send', class: 'btn btn-flat btn-primary' %>
                </footer>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>