<div class="col-sm-12">
  <% if !@moods.empty? %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t "moods.details.header" %></h3>
        </div>
        <div class="panel-body">
          <%
             if @mood_lookback_period == 'week'
               lookback_range = date_range_for('this_week')
             elsif @mood_lookback_period == 'last_week'
               lookback_range = date_range_for('last_week')
             elsif @mood_lookback_period == 'month'
               lookback_range = date_range_for('this_month')
             elsif @mood_lookback_period == 'last_month'
               lookback_range = date_range_for('last_month')
             elsif @mood_lookback_period == 'year'
               lookback_range = date_range_for('this_year')
             elsif @mood_lookback_period == 'last_year'
               lookback_range = date_range_for('last_year')
             end

             moods_for_lookback_period = @moods.where(timestamp: lookback_range)
             moods_for_lookback_period = moods_for_lookback_period.order('timestamp DESC')

             moods_for_lookback_period.each do |mood| %>

              <% if mood.user_id == current_user.id || (current_user.is? :superuser) || (current_user.is? :pro) && (current_user.clients.include? mood.user_id) %>
                  <div class="col-md-4">
                    <h4><%= I18n.l mood.timestamp, format: :long_am_pm %></h4>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <strong><%= t "repeat.mood.mlevel" %></strong>
                      <% if mood.mood_rating == 1 %>
                          <%= t "repeat.mood.sdep" %>
                      <% elsif mood.mood_rating == 2 %>
                          <%= t "repeat.mood.moddep" %>
                      <% elsif mood.mood_rating == 3 %>
                          <%= t "repeat.mood.mildep" %>
                      <% elsif mood.mood_rating == 4 %>
                          <%= t "repeat.mood.baseline" %>
                      <% elsif mood.mood_rating == 5 %>
                          <%= t "repeat.mood.milel" %>
                      <% elsif mood.mood_rating == 6 %>
                          <%= t "repeat.mood.model" %>
                      <% elsif mood.mood_rating == 7 %>
                          <%= t "repeat.mood.sel" %>
                      <% end %>
                      (<%= mood.mood_rating %>)
                    </p>

                    <p>
                      <strong><%= t "repeat.mood.alevel" %></strong>
                      <% if mood.anxiety_rating == 1 %>
                          <%= t "repeat.mood.none" %>
                      <% elsif mood.anxiety_rating == 2 %>
                          <%= t "repeat.mood.mild" %>
                      <% elsif mood.anxiety_rating == 3 %>
                          <%= t "repeat.mood.mod" %>
                      <% elsif mood.anxiety_rating == 4 %>
                          <%= t "repeat.mood.sev" %>
                      <% end %>
                      (<%= mood.anxiety_rating %>)
                    </p>

                    <p>
                      <strong><%= t "repeat.mood.ilevel" %></strong>
                      <% if mood.irritability_rating == 1 %>
                          <%= t "repeat.mood.none" %>
                      <% elsif mood.irritability_rating == 2 %>
                          <%= t "repeat.mood.mild" %>
                      <% elsif mood.irritability_rating == 3 %>
                          <%= t "repeat.mood.mod" %>
                      <% elsif mood.irritability_rating == 4 %>
                          <%= t "repeat.mood.sev" %>
                      <% end %>
                      (<%= mood.irritability_rating %>)
                    </p>
                  </div>
                  <div class="col-md-4">
                    <%= link_to t("menu.edit"), edit_mood_path(mood, modal_enabled: 'true'), remote: true, class: "btn-default btn-xs" %>
                    <%= link_to t("menu.remove"), mood_delete_path(mood, modal_enabled: 'true'), class: "btn-danger btn-xs", remote: true, mood: mood %>
                  </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>