<% render "shared/set_lookback" %>

<div>
  <% if @user == nil %>
    <h1><%= current_user.first_name.to_s + " " + current_user.last_name.to_s %><h1>
      <%= link_to 'Add a new Mood Entry', new_mood_path(modal_enabled: 'true'), remote: true, class: "btn btn-primary" %>
  <% else %>
    <h1><%= @user.first_name.to_s + " " + @user.last_name.to_s %><h1>
  <% end %>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Change View Period <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Last Year', moods_path(mood_lookback_period: 'last_year')%></li>
      <li><%= link_to 'Last Month', moods_path(mood_lookback_period: 'last_month') %></li>
      <li><%= link_to 'Last Week', moods_path(mood_lookback_period: 'last_week') %></li>
      <li><%= link_to 'This Week', moods_path(mood_lookback_period: 'week') %></li>
      <li><%= link_to 'This Month', moods_path(mood_lookback_period: 'month') %></li>
      <li><%= link_to 'This Year', moods_path(mood_lookback_period: 'year')%></li>
    </ul>
  </div>
</div>

<div>
  <%= render "shared/chart_mood" %>
</div>

<div>
  <%= render "details" %>
</div>