<div>
  <% if @rails_user == nil %>
    <h1><%= current_rails_user.first_name.to_s + " " + current_rails_user.last_name.to_s %><h1>
      <%= link_to 'Add a new Mood Entry', new_mood_path, class: "btn btn-primary" %>
  <% else %>
    <h1><%= @rails_user.first_name.to_s + " " + @rails_user.last_name.to_s %><h1>
  <% end %>
</div>

<%= render "shared/chart_mood" %>

<br>

<div class="col-sm-12">
  <% if !@moods.empty? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Mood Entries</h3>
      </div>
      <div class="panel-body">
        <% @moods = Mood.order('created_at DESC')
          @moods.each do |mood| %>
          <% if mood.user_id == current_rails_user.id || (current_rails_user.is? :superuser) %>
            <div class="col-md-4">
                <h3><%= mood.timestamp.strftime("%Y-%m-%d %H:%M:%S") %></h3>
            </div>
            <div class="col-md-8">
              <%= link_to 'Show Details', mood, class: "btn-primary btn-xs" %>
                <%= link_to 'Edit', edit_mood_path(mood),  class: "btn-default btn-xs" %>
                <%= link_to 'Remove', mood,  class: "btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure you want to remove this item?' } %>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>