<p id="notice"><%= notice %></p>

<p>
  <strong>Mood Level:</strong>
  <% if @mood.mood_rating == 1 %>
    <%= "Severely Depressed" %>
  <% elsif @mood.mood_rating == 2 %>
    <%= "Moderately Depressed" %>
  <% elsif @mood.mood_rating == 3 %>
    <%= "Mildly Depressed" %>
  <% elsif @mood.mood_rating == 4 %>
    <%= "Baseline" %>
  <% elsif @mood.mood_rating == 5 %>
    <%= "Mildly Elevated" %> 
  <% elsif @mood.mood_rating == 6 %>
    <%= "Moderately Elevated" %>
  <% elsif @mood.mood_rating == 7 %>
    <%= "Severely Elevated" %> 
  <% end %>
  (<%= @mood.mood_rating %>)
</p> 

<p>
  <strong>Anxiety Level:</strong>
  <% if @mood.anxiety_rating == 1 %>
    <%= "None" %>
  <% elsif @mood.anxiety_rating == 2 %>
    <%= "Mild" %>
  <% elsif @mood.anxiety_rating == 3 %>
    <%= "Moderate" %>
  <% elsif @mood.anxiety_rating == 4 %>
    <%= "Severe" %>
  <% end %>
  (<%= @mood.anxiety_rating %>)
</p>

<p>
  <strong>Irritability Level:</strong>
  <% if @mood.irritability_rating == 1 %>
    <%= "None" %>
  <% elsif @mood.irritability_rating == 2 %>
    <%= "Mild" %>
  <% elsif @mood.irritability_rating == 3 %>
    <%= "Moderate" %>
  <% elsif @mood.irritability_rating == 4 %>
    <%= "Severe" %>
  <% end %>
  (<%= @mood.irritability_rating %>)
</p>

<% if can? :manage, @mood %>
	<%= link_to 'Edit', edit_mood_path(@mood) %> | 
<% end %>
<%= link_to 'Back', moods_path %>
