<h2><%= t "confirmable.passwords.edit.change1" %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, t("confirmable.passwords.edit.new") %><br/>
      <% if @minimum_password_length %>
          <em><%= t("repeat.minchar", :var => @minimum_password_length) %></em>
      <% end %><br/>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, t("confirmable.passwords.edit.confirmnew") %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit t("confirmable.passwords.edit.confirmmy") %>
    </div>
<% end %>

<%= render "confirmable/shared/links" %>
