<%= bootstrap_form_for(@scorecard) do |f| %>
    <% if @scorecard.errors.any? %>
        <div id="error_explanation">
          <h2><%= t("scorecards.form.error", :error => pluralize(@scorecard.errors.count, "error")) %></h2>

          <ul>
            <% @scorecard.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label "Checkin Goal" %><br>
      <%= f.select :checkin_goal, (1..7), hide_label: true , inline: true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
