<h1>Scorecard</h1>
<div class="col-sm-12">

  <h5>Main</h5>
  
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Total Score</th>
        <th>Level Multiplier</th>
        <th>Checkin Count</th>
        <th>Last Checkin Date</th>
        <th>Streak Count</th>
        <th>Streak Record</th>
        <th>Perfect Checkin Count</th>
        <th>Last Perfect Checkin Date</th>
        <th>Days Since Signup</th>
      </tr>
    </thead>

    <tbody>
      <% @scorecard.each do |scorecard| %>
        <tr>
          <td><%= scorecard.total_score %></td>
          <td><%= scorecard.level_multiplier %></td>
          <td><%= scorecard.checkin_count %></td>
          <td>
            <% if scorecard.last_checkin_date != nil %>
              <%= I18n.l scorecard.last_checkin_date, format: :long %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= scorecard.streak_count %></td>
          <td><%= scorecard.streak_record %></td>
          <td><%= scorecard.perfect_checkin_count %></td>
          <td>
            <% if scorecard.last_perfect_checkin_date != nil %>
              <%= I18n.l scorecard.last_perfect_checkin_date, format: :long %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= scorecard.days_since_signup %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h5>Mood</h5>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Score</th>
        <th>Level Multiplier</th>
        <th>Checkin Count</th>
        <th>Last Checkin Date</th>
        <th>Streak Count</th>
        <th>Streak Record</th>
      </tr>
    </thead>

    <tbody>
      <% @scorecard.each do |scorecard| %>
        <tr>
          <td><%= scorecard.moods_score %></td>
          <td><%= scorecard.mood_level_multiplier %></td>
          <td><%= scorecard.mood_checkin_count %></td>
          <td>
            <% if scorecard.mood_last_checkin_date != nil %>
              <%= I18n.l scorecard.mood_last_checkin_date, format: :long %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= scorecard.mood_streak_count %></td>
          <td><%= scorecard.mood_streak_record %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h5>Sleep</h5>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Score</th>
        <th>Level Multiplier</th>
        <th>Checkin Count</th>
        <th>Last Checkin Date</th>
        <th>Streak Count</th>
        <th>Streak Record</th>
      </tr>
    </thead>

    <tbody>
      <% @scorecard.each do |scorecard| %>
        <tr>
          <td><%= scorecard.sleeps_score %></td>
          <td><%= scorecard.sleep_level_multiplier %></td>
          <td><%= scorecard.sleep_checkin_count %></td>
          <td>
            <% if scorecard.sleep_last_checkin_date != nil %>
              <%= I18n.l scorecard.sleep_last_checkin_date, format: :long %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= scorecard.sleep_streak_count %></td>
          <td><%= scorecard.sleep_streak_record %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h5>Self Care</h5>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Score</th>
        <th>Level Multiplier</th>
        <th>Checkin Count</th>
        <th>Last Checkin Date</th>
        <th>Streak Count</th>
        <th>Streak Record</th>
      </tr>
    </thead>

    <tbody>
      <% @scorecard.each do |scorecard| %>
        <tr>
          <td><%= scorecard.self_cares_score %></td>
          <td><%= scorecard.self_care_level_multiplier %></td>
          <td><%= scorecard.self_care_checkin_count %></td>
          <td>
            <% if scorecard.self_care_last_checkin_date != nil %>
              <%= I18n.l scorecard.self_care_last_checkin_date, format: :long %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= scorecard.self_care_streak_count %></td>
          <td><%= scorecard.self_care_streak_record %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <h5>Journal</h5>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Score</th>
        <th>Level Multiplier</th>
        <th>Checkin Count</th>
        <th>Last Checkin Date</th>
        <th>Streak Count</th>
        <th>Streak Record</th>
      </tr>
    </thead>

    <tbody>
      <% @scorecard.each do |scorecard| %>
        <tr>
          <td><%= scorecard.journals_score %></td>
          <td><%= scorecard.journal_level_multiplier %></td>
          <td><%= scorecard.journal_checkin_count %></td>
          <td>
            <% if scorecard.journal_last_checkin_date != nil %>
              <%= I18n.l scorecard.journal_last_checkin_date, format: :long %>
            <% else %>
              ---
            <% end %>
          </td>
          <td><%= scorecard.journal_streak_count %></td>
          <td><%= scorecard.journal_streak_record %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>