<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "scorecards.show.ccount" %></strong>
  <%= @scorecard.checkin_count %>
</p>

<p>
  <strong><%= t "scorecards.show.perfect" %></strong>
  <%= @scorecard.perfect_checkin_count %>
</p>

<p>
  <strong><%= t "scorecards.show.lastc" %></strong>
  <%= @scorecard.last_checkin_date %>
</p>

<p>
  <strong><%= t "scorecards.show.scount" %></strong>
  <%= @scorecard.streak_count %>
</p>

<p>
  <strong><%= t "scorecards.show.srecord" %></strong>
  <%= @scorecard.streak_record %>
</p>

<p>
  <strong><%= t "scorecards.show.mscore" %></strong>
  <%= @scorecard.moods_score %>
</p>

<p>
  <strong><%= t "scorecards.show.sscore" %></strong>
  <%= @scorecard.sleeps_score %>
</p>

<p>
  <strong><%= t "scorecards.show.scscore" %></strong>
  <%= @scorecard.self_cares_score %>
</p>

<p>
  <strong><%= t "scorecards.show.jscore" %></strong>
  <%= @scorecard.journals_score %>
</p>

<%= link_to t("menu.edit"), edit_scorecard_path(@scorecard) %> |
<%= link_to t("menu.back"), scorecards_path %>
