<%= bootstrap_form_for(@subscription_plan) do |f| %>
  <% if @subscription_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription_plan.errors.count, "error") %> prohibited this subscription_plan from being saved:</h2>

      <ul>
      <% @subscription_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name, "Plan Name:" %><br>
      <%= f.text_field :name, hide_label: true %>
    </div>
    <div class="form-group">
      <%= f.label :stripe_id, "Stripe ID:" %><br>
      <%= f.text_field :stripe_id, hide_label: true %>
    </div>
    <div class="form-group">
      <%= f.label :amount, "Amount in USD cents:" %><br>
      <%= f.number_field :amount, hide_label: true %>
    </div>
    <div class="form-group">
      <% if !@subscription_plan.interval.nil? %>
        <% plan_interval = @subscription_plan.interval %>
      <% else %>
        <% plan_interval = 'day' %>
      <% end %>
      <%= f.label :interval, "Interval:" %><br>
      <%= f.select(:interval, options_for_select([['Day', 'day'], ['Week', 'week'], ['Month', 'month'], ['Year', 'year']], plan_interval), hide_label: true) %>
    </div>
    <div class="form-group">
      <%= f.label :interval_count, "Interval Count:" %><br>
      <%= f.number_field :interval_count, hide_label: true %>
    </div>
    <div class="form-group">
      <%= f.label :trial_period_days, "Trial Period (Days):" %><br>
      <%= f.number_field :trial_period_days, hide_label: true %>
    </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
