<div class="container">
  <div>
    <h1>Subscription Plans</h1>
    <%= link_to 'Add a new Subscription Plan', new_subscription_plan_path, class: "btn btn-primary" %>
  </div>
  <br>
  <div class="col-sm-12">
    <% if !@subscription_plans.empty? %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Subscription Plans</h3>
          </div>
          <div class="panel-body">
            <% @subscription_plans.each do |subscription_plan| %>

                    <div class="col-md-4">
                      <h4><%= subscription_plan.name %> | <%= subscription_plan.stripe_id %></h4>
                    </div>
                    <div class="col-md-4">
                      <p>
                        <strong>Amount:</strong>
                        <%= subscription_plan.amount %>
                      </p>
                      <p>
                        <strong>Interval:</strong>
                        <%= subscription_plan.interval %>
                      </p>
                      <p>
                        <strong>Interval Count:</strong>
                        <%= subscription_plan.interval %>
                      </p>
                      <p>
                        <strong>Trial Period (Days):</strong>
                        <%= subscription_plan.trial_period_days %>
                      </p>
                    </div>
                    <div class="col-md-4">
                      <td><%= link_to 'Show', subscription_plan, class: "btn-primary btn-xs" %></td>
                      <td><%= link_to 'Edit', edit_subscription_plan_path(subscription_plan), class: "btn-default btn-xs" %></td>
                      <td><%= link_to 'Destroy', subscription_plan, method: :delete, class: "btn-danger btn-xs", data: { confirm: 'Are you sure?' } %></td>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
