<section class="content-20 v-center bg-wet-asphalt">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Login to ThriveSync</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="signup-form">
            <%= render "devise/shared/omniauth_buttons" %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "clearfix"}) do |f| %>
                <%= devise_error_messages! %>
                <br>

                <div class="form-group">
                  <label>Email</label>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
                <div class="clearfix">
                  <div class="form-group pull-left">
                    <label>Password
                      <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i>
                      <% end %></label>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                </div>
                <% if devise_mapping.rememberable? -%>
                    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>
                <div class="actions"><%= f.submit "Login", class: "btn btn-huge btn-info" %></div>
                <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
        <!--
        <div class="col-sm-4 col-sm-offset-1 features">
          <big>The most important part of the Startup Design Framework is the samples</big>

          <div class="row">
            <div class="col-sm-8">
              <h6>Easy to use</h6>
              To get started, you select the desired sample and build on the basis of its entire website.
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <h6>Variety of designs</h6>
              Responsive web design is a web design approach aimed at crafting sites to provide.
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</section>

<%= render "pages/footer" %>