<%= bootstrap_form_for(@reminder) do |f| %>
    <% if @reminder.errors.any? %>
        <div id="error_explanation">
          <h2><%= t("reminders.form.error", :error => pluralize(@reminder.errors.count, "error")) %></h2>

          <ul>
            <% @reminder.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message, hide_label: true %>
    </div>
    <div class="field">
      <%= f.check_box_without_bootstrap :sunday_enabled %>
      <%= f.label t("repeat.days.sun") %>
      <%= f.check_box_without_bootstrap :monday_enabled %>
      <%= f.label t("repeat.days.mon") %>
      <%= f.check_box_without_bootstrap :tuesday_enabled %>
      <%= f.label t("repeat.days.tue") %>
      <%= f.check_box_without_bootstrap :wednesday_enabled %>
      <%= f.label t("repeat.days.wed") %>
      <%= f.check_box_without_bootstrap :thursday_enabled %>
      <%= f.label t("repeat.days.thur") %>
      <%= f.check_box_without_bootstrap :friday_enabled %>
      <%= f.label t("repeat.days.fri") %>
      <%= f.check_box_without_bootstrap :saturday_enabled %>
      <%= f.label t("repeat.days.sat") %>
    </div>
    <div class="field">
      <%= f.label :alert_time %><br>
      <%= f.time_select :alert_time, ampm: true, hide_label: true %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
