<%= bootstrap_form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <% if !@device.enabled.nil? %>
          <% device_enabled = @device.enabled %>
      <% else %>
          <% device_enabled = true %>
      <% end %>
      <%= f.label "Device Enabled:" %> <br>
      <%= f.select(:enabled, options_for_select([['Enabled', true], ['Disabled', false]], device_enabled), hide_label: true) %>
    </div>

    <div class="form-group">
      <%= f.label "Device Token:" %> <br>
      <%= f.text_field :token, hide_label: true%>
    </div>

    <div class="form-group">
      <% if !@device.platform.nil? %>
          <% device_platform = @device.platform %>
      <% else %>
          <% device_platform = 'iOS' %>
      <% end %>
      <%= f.label "Device Type:" %> <br>
      <%= f.select(:platform, options_for_select([['Apple', "iOS"], ['Android', "Android"]], device_platform), hide_label: true) %>
    </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
