<%= bootstrap_form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("devices.form.error", :error => pluralize(@device.errors.count, "error")) %></h2>
      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <% if !@device.enabled.nil? %>
          <% device_enabled = @device.enabled %>
      <% else %>
          <% device_enabled = true %>
      <% end %>
      <%= f.label t("devices.form.enabled") %> <br>
      <%= f.select(:enabled, options_for_select([[t("repeat.enabled"), true], [t("repeat.disabled"), false]], device_enabled), hide_label: true) %>
    </div>

    <div class="form-group">
      <%= f.label t("repeat.token") %> <br>
      <%= f.text_field :token, hide_label: true%>
    </div>

    <div class="form-group">
      <% if !@device.platform.nil? %>
          <% device_platform = @device.platform %>
      <% else %>
          <% device_platform = 'iOS' %>
      <% end %>
      <%= f.label t("devices.form.type") %> <br>
      <%= f.select(:platform, options_for_select([[t("repeat.devices.apple"), "iOS"], [t("repeat.devices.android"), "Android"]], device_platform), hide_label: true) %>
    </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
