<div class="container">
  <div>
    <% if (@user == nil || @user.id == current_user.id) || (current_user.is? :superuser) %>
        <h1><%= current_user.first_name.to_s + " " + current_user.last_name.to_s %><%= t "devices.index.list" %></h1>
        <%= link_to t("devices.index.add"), new_device_path, class: "btn btn-primary" %>
    <% else %>
        <% if @user == nil %>
            <% user = current_user %>
        <% else %>
            <% user = @user %>
        <% end %>
        <h1><%= user.first_name.to_s + " " + user.last_name.to_s %></h1>
    <% end %>
  </div>
  <br>
  <div class="col-sm-12">
    <% if !@devices.empty? %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t "devices.index.devices" %></h3>
          </div>
          <div class="panel-body">
            <% @devices.each do |device| %>
                <% if device.user_id == current_user.id || (current_user.is? :superuser) %>
                    <div class="col-md-4">
                      <h4><%= t "devices.index.id" %> <%= device.id %></h4>
                    </div>
                    <div class="col-md-4">
                      <p>
                        <strong><%= t "devices.form.enabled" %></strong>
                        <% if device.enabled == true %>
                            <%= t "repeat.enabled" %>
                        <% elsif device.enabled == false %>
                            <%= t "repeat.disabled" %>
                        <% end %>
                      </p>
                      <p>
                        <strong><%= t "repeat.token:" %></strong>
                        <%= device.token %>
                      </p>
                      <p>
                        <strong><% t "devices.index.platform" %></strong>
                        <% if device.platform == 'iOS' %>
                            <%= t "repeat.devices.apple" %>
                        <% elsif device.platform == 'Android' %>
                            <%= t "repeat.devices.android" %>
                        <% end %>
                      </p>
                    </div>
                    <div class="col-md-4">
                      <td><%= link_to t("menu.show"), device, class: "btn-primary btn-xs" %></td>
                      <td><%= link_to t("menu.remove"), edit_device_path(device), class: "btn-default btn-xs" %></td>
                      <td><%= link_to t("menu.destroy"), device, method: :delete, class: "btn-danger btn-xs", data: { confirm: t("repeat.sure") } %></td>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
