<div class="container">
  <h1><%= t "devices.show" %></h1>
  <p>
    <strong><%= t "devices.form.enabled" %></strong>
    <% if @device.enabled %>
        <%= t "y" %>
    <% else %>
        <%= t "n" %>
    <% end %>
  </p>

  <p>
    <strong><%= t "repeat.token" %></strong>
    <%= @device.token %>
  </p>

  <p>
    <strong><%= t"devices.index.platform" %>:</strong>
    <% if @device.platform == 'iOS' %>
        <%= t "repeat.apple" %>
    <% elsif @device.platform == 'Android' %>
        <%= t "repeat.android" %>
    <% end %>
  </p>

  <%= link_to t("menu.edit"), edit_device_path(@device) %> |
  <%= link_to t("menu.back"), devices_path %>
</div>
