<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
          <% message = receipt.message %>

          <%= message.sender.name %>
          (<%= I18n.l message.created_at, format: :long_am_pm %>):
          <%= message.body %>
      <% end %>
    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: t("conversations.show.type"), required: true %>
    </div>
    <%= submit_tag t("conversations.show.send"), class: 'btn btn-primary' %>
<% end %>