.nested-fields
  .field
    = f.label :start_date_time
    %br
    = f.datetime_select :start_date_time, hide_label: true
  .field
    = f.label :end_date_time
    %br
    = f.datetime_select :end_date_time, hide_label: true
  = link_to_remove_association "Remove Effective Time Interval", f