<div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>User:</strong>
      <%= @passive_data_point.user_id %>
    </p>

    <p>
      <strong>Was user entered:</strong>
      <%= @passive_data_point.was_user_entered %>
    </p>
    <p>
      <strong>Timezone:</strong>
      <%= @passive_data_point.timezone %>
    </p>
    <p>
      <strong>Source uuid:</strong>
      <%= @passive_data_point.source_uuid %>
    </p>

    <p>
      <strong>External uuid:</strong>
      <%= @passive_data_point.external_uuid %>
    </p>

    <p>
      <strong>Creation date time:</strong>
      <%= @passive_data_point.creation_date_time %>
    </p>

    <p>
      <strong>Schema namespace:</strong>
      <%= @passive_data_point.schema_namespace %>
    </p>

    <p>
      <strong>Schema name:</strong>
      <%= @passive_data_point.schema_name %>
    </p>

    <p>
      <strong>Schema version:</strong>
      <%= @passive_data_point.schema_version %>
    </p>

    <p>
      <strong>Effective date time:</strong>
      <% if @passive_data_point.effective_date_time.nil? %>
          <%= 'NA' %>
      <% else %>
        <%= @passive_data_point.effective_date_time %>
      <% end %>
    </p>

    <p>
      <strong>Effective Time Intervals:</strong>

      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Start Date Time</th>
          <th>End Date Time</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @passive_data_point.effective_time_intervals.each do |effective_time_interval| %>
          <tr>
            <td><%= effective_time_interval.id %></td>
            <td><%= effective_time_interval.start_date_time %></td>
            <td><%= effective_time_interval.end_date_time %></td>
            <td><%= link_to 'Show', effective_time_interval %></td>
            <td><%= link_to 'Edit', edit_effective_time_interval_path(effective_time_interval) %></td>
            <td><%= link_to 'Destroy', effective_time_interval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </p>

    <p>
      <strong>Passive Sleep Entries:</strong>

    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Category Type</th>
        <th>Category Value</th>
        <th>Value</th>
        <th>Unit</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @passive_data_point.passive_sleeps.each do |passive_sleep| %>
          <tr>
            <td><%= passive_sleep.id %></td>
            <td><%= passive_sleep.category_type  %></td>
            <td><%= passive_sleep.category_value %></td>
            <td><%= passive_sleep.value  %></td>
            <td><%= passive_sleep.unit %></td>
            <td><%= link_to 'Show', passive_sleep%></td>
            <td><%= link_to 'Edit', edit_passive_sleep_path(passive_sleep) %></td>
            <td><%= link_to 'Destroy', passive_sleep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </p>

    <%= link_to 'Edit', edit_passive_data_point_path(@passive_data_point) %> |
    <%= link_to 'Back', passive_data_points_path %>
</div>