<div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>User:</strong>
      <%= @passive_data_point.user_id %>
    </p>

    <p>
      <strong>Was user entered:</strong>
      <%= @passive_data_point.was_user_entered %>
    </p>
    <p>
      <strong>Timezone:</strong>
      <%= @passive_data_point.timezone %>
    </p>
    <p>
      <strong>Source uuid:</strong>
      <%= @passive_data_point.source_uuid %>
    </p>

    <p>
      <strong>External uuid:</strong>
      <%= @passive_data_point.external_uuid %>
    </p>

    <p>
      <strong>Creation date time:</strong>
      <%= @passive_data_point.creation_date_time %>
    </p>

    <p>
      <strong>Schema namespace:</strong>
      <%= @passive_data_point.schema_namespace %>
    </p>

    <p>
      <strong>Schema name:</strong>
      <%= @passive_data_point.schema_name %>
    </p>

    <p>
      <strong>Schema version:</strong>
      <%= @passive_data_point.schema_version %>
    </p>

    <%= link_to 'Edit', edit_passive_data_point_path(@passive_data_point) %> |
    <%= link_to 'Back', passive_data_points_path %>
</div>