<%= bootstrap_form_for(@reward) do |f| %>
    <% if @reward.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

          <ul>
            <% @reward.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :completed_first_entry %><br>
      <%= f.check_box :completed_first_entry %>
    </div>
    <div class="field">
      <%= f.label :completed_first_streak %><br>
      <%= f.check_box :completed_first_streak %>
    </div>
    <div class="field">
      <%= f.label :rewards_enabled %><br>
      <%= f.check_box :rewards_enabled %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
