<p id="notice"><%= notice %></p>

<p>
  <strong><% t "rewards.show.user" %></strong>
  <%= @reward.user_id %>
</p>

<p>
  <strong><% t "rewards.show.firste" %></strong>
  <%= @reward.completed_first_entry %>
</p>

<p>
  <strong><% t "rewards.show.firsts" %></strong>
  <%= @reward.completed_first_streak %>
</p>

<p>
  <strong><% t "rewards.show.rewardse" %></strong>
  <%= @reward.rewards_enabled %>
</p>

<%= link_to t("menu.edit"), edit_reward_path(@reward) %> |
<%= link_to t("menu.back"), rewards_path %>
