    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-responsive" src="/assets/ThriveTracker_Logo.png">
          </a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            
            <% if rails_user_signed_in? && (current_rails_user.is? :superuser) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Super User Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/superusers/index">Users</a></li>
                  <li><a href="#">Professionals</a></li>
                  <li><a href="#">Organizations</a></li>
                </ul>
              </li>
            <% end %>

            <% if rails_user_signed_in? && (current_rails_user.is? :admin) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Users</a></li>
                  <li><a href="#">Professionals</a></li>
                  <li><a href="#">Organizations</a></li>
                </ul>
              </li>
            <% end %>

            <% if rails_user_signed_in? && (current_rails_user.is? :pro) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pro Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/pros/index">Clients</a></li>
                </ul>
              </li>
            <% end %>

            <% if rails_user_signed_in? && (current_rails_user.is? :client) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Client Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= moods_path %>">Mood</a></li>
                  <li><a href="<%= sleeps_path %>">Sleep</a></li>
                  <li><a href="<%= self_cares_path %>">Self Care</a></li>
                  <li><a href="<%= journals_path %>">Journal</a></li>
                </ul>
              </li>
            <% end %>

            <% if rails_user_signed_in? && (current_rails_user.is? :user) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trackers<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= moods_path %>">Mood</a></li>
                  <li><a href="<%= sleeps_path %>">Sleep</a></li>
                  <li><a href="<%= self_cares_path %>">Self Care</a></li>
                  <li><a href="<%= journals_path %>">Journal</a></li>
                </ul>
              </li>
            <% end %>

            <% if rails_user_signed_in?%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= edit_rails_user_registration_path %>">Edit Profile</a></li>
                  <li><%= link_to "Logout", destroy_rails_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
            
              <li><a href="<%= new_rails_user_registration_path %>">Sign Up</a></li>
              <li><a href="<%= new_rails_user_session_path %>">Login</a></li>
            <% end %>

          </ul>
          
          <% if rails_user_signed_in? %>
            <div class="navbar-text pull-left">
                Logged in as <strong><%= current_rails_user.first_name + " " + current_rails_user.last_name %></strong>. 
            </div>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>