    <header class="header-3">
      <div class="container">
        <div class="row">
         <nav class="navbar col-sm-12" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
            </button>
            <a class="navbar-brand" href="/">
              <img src="/assets/ThriveTracker-Logo-Green.png">
            </a>
          </div>
          <div class="collapse navbar-collapse pull-right">
            <ul class="nav pull-left">
              <li><a href="/">Home</a></li>
              <% if rails_user_signed_in? && (current_rails_user.is? :superuser) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Super User Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/superusers/index">Users</a></li>
                    <li><a href="#">Professionals</a></li>
                    <li><a href="#">Organizations</a></li>
                  </ul>
                </li>
              <% end %>

              <% if rails_user_signed_in? && (current_rails_user.is? :admin) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Professionals</a></li>
                    <li><a href="#">Organizations</a></li>
                  </ul>
                </li>
              <% end %>

              <% if rails_user_signed_in? && (current_rails_user.is? :pro) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pro Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/pros/index">Clients</a></li>
                  </ul>
                </li>
              <% end %>

              <% if rails_user_signed_in? && (current_rails_user.is? :client) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Client Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= moods_path %>">Mood</a></li>
                    <li><a href="<%= sleeps_path %>">Sleep</a></li>
                    <li><a href="<%= self_cares_path %>">Self Care</a></li>
                    <li><a href="<%= journals_path %>">Journal</a></li>
                  </ul>
                </li>
              <% end %>

              <% if rails_user_signed_in? && (current_rails_user.is? :user) %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trackers<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= moods_path %>">Mood</a></li>
                    <li><a href="<%= sleeps_path %>">Sleep</a></li>
                    <li><a href="<%= self_cares_path %>">Self Care</a></li>
                    <li><a href="<%= journals_path %>">Journal</a></li>
                  </ul>
                </li>
              <% end %>
              <% if rails_user_signed_in?%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= connections_path(current_rails_user) %>">Connect</a></li>
                    <li><a href="<%= edit_rails_user_registration_path %>">Edit Profile</a></li>
                    <li><%= link_to "Logout", destroy_rails_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
              
                <li><a href="<%= new_rails_user_registration_path %>">Sign Up</a></li>
                <li><a href="<%= new_rails_user_session_path %>">Login</a></li>
              <% end %>

            </ul>
    
            <% if rails_user_signed_in? %>
              <div class="navbar-text pull-left">
                  Logged in as <strong><%= current_rails_user.first_name + " " + current_rails_user.last_name %></strong>. 
              </div>
            <% end %>
          </nav><!--/.nav-collapse -->
        </div>
      </div>
    </header>