<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t "shared.delorean" %><span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to t("repeat.dmy.lasty"), root_path(lookback_period: 'last_year') %></li>
    <li><%= link_to t("repeat.dmy.lastm"), root_path(lookback_period: 'last_month') %></li>
    <li><%= link_to t("repeat.dmy.lastw"), root_path(lookback_period: 'last_week') %></li>
    <li><%= link_to t("repeat.dmy.thisw"), root_path(lookback_period: 'week') %></li>
    <li><%= link_to t("repeat.dmy.thism"), root_path(lookback_period: 'month') %></li>
    <li><%= link_to t("repeat.dmy.thisy"), root_path(lookback_period: 'year') %></li>
  </ul>
</div>