<div>
  <%= link_to 'Add a new Mood Entry', new_mood_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Sleep Entry', new_sleep_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Self Care Entry', new_self_care_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Journal Entry', new_journal_path, class: "btn btn-primary" %>
</div>

<br>
<div class="col-md-6">
	<%= render "shared/chart_mood" %>
	<%= link_to 'View Mood Entries', moods_path, class: "btn btn-default btn-xs btn-block" %>
</div>

<div class="col-md-6">
	<%= render "shared/chart_sleep" %>
	<%= link_to 'View Sleep Entries', sleeps_path, class: "btn btn-default btn-xs btn-block" %>
</div>

<div class="col-md-6">
	<%= link_to 'View Self Care Entries', self_cares_path, class: "btn btn-default btn-xs btn-block" %>
</div>

<div class="col-md-6">
	<%= link_to 'View Journal Entries', journals_path, class: "btn btn-default btn-xs btn-block" %>
</div>