<div>
  <%= link_to 'Add a new Mood Entry', new_mood_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Sleep Entry', new_sleep_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Self Care Entry', new_self_care_path, class: "btn btn-primary" %>
  <%= link_to 'Add a new Journal Entry', new_journal_path, class: "btn btn-primary" %>
</div>

<br>

<center><h3> Mood Stats </h3></center>

<%= line_chart [
{name: "Mood Rating", data: Mood.group_by_day(:timestamp, last: 7).average(:mood_rating)},
{name: "Anxiety Rating", data: Mood.group_by_day(:timestamp, last: 7).average(:anxiety_rating)},
{name: "Irritability Rating", data: Mood.group_by_day(:timestamp, last: 7).average(:irritability_rating)}
]%>

<%= link_to 'View Mood Entries', moods_path, class: "btn btn-default btn-s btn-block" %>
<%= link_to 'View Sleep Entries', sleeps_path, class: "btn btn-default btn-s btn-block" %>
<%= link_to 'View Self Care Entries', self_cares_path, class: "btn btn-default btn-s btn-block" %>
<%= link_to 'View Journal Entries', journals_path, class: "btn btn-default btn-s btn-block" %>