<p><%= t("confirmable.mailer.hello", :var => @resource.email) %></p>

<p><%= t "confirmable.mailer.reset1" %></p>

<p><%= link_to t("repeat.changepw"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "confirmable.mailer.reset2" %></p>
<p><%= t "confirmable.mailer.reset3" %></p>
