<section class="header-10-sub v-center">
  <div class="background"></div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1><%= t "welcome.motto" %></h1>

        <p><%= t "welcome.purpose" %></p>
        <br>
      </div>
      <div class="btns">
        <a class="btn btn-success" href=<%= start_path %>><%= t "welcome.getstarted" %></a>
      </div>
    </div>
  </div>
</section>

<section class="content-3">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 aligment">
          <h1><%= t "welcome.improve" %></h1>

          <p>
            <%= t "welcome.provides" %>.
          </p>

          <p>
            <%= t "welcome.individuals" %>
          </p>

          <p>
            <%= t "welcome.providers" %>
          </p>
          <br>
          <!--
          <a class="btn btn-success" href="<%= page_path('individuals') %>"><span class="fui-user"> </span>I'm an INDIVIDUAL looking to better manage my mental health</a>
          <br><br>
          <a class="btn btn-info" href="<%= page_path('providers') %>"><span class="fui-heart"> </span>I'm a PROVIDER looking to better support my patients</a>
          -->
        </div>
        <div class="col-sm-4">
          <div class="img">
            <img src="/assets/iPhone-6-dashboard.png" alt="">
          </div>
          <div class="btns">
            <center>
              <a class="btn btn-default" href="https://itunes.apple.com/us/app/thrivesync-technology-for/id926637563?ls=1&mt=8" target="_blank"><span class="fui-apple"> </span><%= t "welcome.appstore" %></a>
              <a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.thrivestreams.thrivesync" target="_blank"><span class="fui-android"> </span><%= t "welcome.gplay" %></a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-11">
  <div class="container">
    <span><%= t "welcome.want" %></span>
    <a class="btn btn-large btn-success" href="<%= start_path %>"><%= t "welcome.start" %></a>
  </div>
</section>

<%= render "pages/footer" %>