<section class="content-6 v-center" id="pricing-header">
  <div>
    <div class="container">
      <h3><%= t "pages.pricing.getstarted" %></h3>

      <p class="lead"><%= t "pages.pricing.try" %></p>

    </div>
  </div>
</section>

<section class="price-2" id="pricing-main">
  <div class="container">
    <div class="plans">
      <div class="plan">
        <div class="title">
          <%= t "pages.pricing.free" %>
          <div class="price"><span class="currency"><%= t "pages.pricing.currency" %></span><%= t "pages.pricing.0" %><span class="period"></span></div>
          <a class="btn btn-clear btn-small" href=<%= new_user_registration_path %>><%= t "pages.pricing.freeaccess" %></a>
        </div>
        <div class="description">
          <div class="description-box">
            <%= t "pages.pricing.oneind" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.webapp" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.unlimitedpro" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.unlimitedpeer" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.support" %>
          </div>
        </div>
      </div>
      <div class="plan plan-2">
        <div class="title">
          <%= t "pages.pricing.standard" %>
          <div class="price"><span class="currency"><%= t "pages.pricing.currency" %></span><%= t "pages.pricing.39" %><span class="period"><%= t "pages.pricing.permo" %></span></div>
          <a class="typeform-share btn btn-clear btn-small" href="https://thrivestreams.typeform.com/to/cbgTTo" data-mode="1" target="_blank"><%= t "pages.pricing.start30" %></a>
        </div>
        <div class="description">
          <div class="description-box">
            <%= t "pages.pricing.oneprov" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.tenpat" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.dashboard" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.patientweb" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.support" %>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="title">
          <%= t "pages.pricing.plus" %>
          <div class="price"><span class="currency"><%= t "pages.pricing.currency" %></span><%= t "pages.pricing.99" %><span class="period"><%= t "pages.pricing.permo" %></span></div>
          <a class="typeform-share btn btn-clear btn-small" href="https://thrivestreams.typeform.com/to/cbgTTo" data-mode="1" target="_blank"><%= t "pages.pricing.start30" %></a>
          <!--<div class="ribbon">NEW</div>-->
        </div>
        <div class="description">
          <div class="description-box">
            <%= t "pages.pricing.onepro" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.hunpat" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.dashboard" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.patientweb" %>
          </div>
          <div class="description-box">
            <%= t "pages.pricing.support2" %>
          </div>
        </div>
      </div>
      <!--
      <div class="plan">
        <div class="title">
          PREMIUM PLAN
          <div class="price"><span class="currency">$</span>199<span class="period">/ MO</span></div>
          <a class="typeform-share btn btn-clear btn-small" href="https://thrivestreams.typeform.com/to/cbgTTo" data-mode="1" target="_blank">START 30-DAY FREE TRIAL</a>
        </div>
        <div class="description">
          <div class="description-box">
            1 Provider
          </div>
          <div class="description-box">
            250 Patients/Clients
          </div>
          <div class="description-box">
            Provider Web Dashboard
          </div>
          <div class="description-box">
            Patient Web & Mobile Apps
          </div>
          <div class="description-box">
            Support via Account Manager
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <!--/.container-->
</section>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

<%= render "pages/footer" %>