<div class="container">
  <section class="content-9">
    <div class="container">
      <div class="container">
        <h1><%= t "pages.privacy.header" %></h1>
        <p><%= t "pages.privacy.effdate" %></p>
        <p>
          <%= t "pages.privacy.preface" %>
        </p>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectionone" %></h3>
        <h5><%= t "pages.privacy.subtitleonea" %></h5>
        <p>
          <%= t "pages.privacy.s1a" %>
        </p>
        <p>
          <%= t "pages.privacy.s1b" %>
        </p>
        <h5><%= t "pages.privacy.subtitleoneb" %></h5>
        <p>
          <%= t "pages.privacy.s1c" %>
        </p>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectiontwo" %></h3>
        <p>
          <%= t "pages.privacy.s2a" %>
        </p>
        <p>
          <%= t "pages.privacy.s2b" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s2c" %>
          </li>
          <li>
            <%= t "pages.privacy.s2d" %>
          </li>
          <li>
            <%= t "pages.privacy.s2e" %>
          </li>
          <li>
            <%= t "pages.privacy.s2f" %>
          </li>
        </ul>
        <p>
          <%= t "pages.privacy.s2g" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s2h" %>
          </li>
        </ul>
        <p>
          <%= t "pages.privacy.s2i" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s2j" %>
          </li>
          <li>
            <%= t "pages.privacy.s2k" %>
          </li>
          <li>
            <%= t "pages.privacy.s2l" %>
          </li>
          <li>
            <%= t "pages.privacy.s2m" %>
          </li>
          <li>
            <%= t "pages.privacy.s2n" %>
          </li>
          <li>
            <%= t "pages.privacy.s2o" %>
          </li>
          <li>
            <%= t "pages.privacy.s2p" %>
          </li>
          <li>
            <%= t "pages.privacy.s2q" %>
          </li>
          <li>
            <%= t "pages.privacy.s2r" %>
          </li>
        </ul>
        <p>
          <%= t "pages.privacy.s2s" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s2t" %>
          </li>
          <li>
            <%= t "pages.privacy.s2u" %>
          </li>
          <li>
            <%= t "pages.privacy.s2v" %>
          </li>
        </ul>
        <p>
          <%= t "pages.privacy.s2w" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s2x" %>
          </li>
        </ul>
        <p>
          <%= t "pages.privacy.s2y" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s2z" %>
          </li>
          <li>
            <%= t "pages.privacy.s2aa" %>
          </li>
          <li>
            <%= t "pages.privacy.s2ab" %>
          </li>
          <li>
            <%= t "pages.privacy.s2ac" %>
          </li>
          <li>
            <%= t "pages.privacy.s2ad" %>
          </li>
        </ul>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectionthree" %></h3>
        <p>
          <%= t "pages.privacy.s3a" %>
        </p>
        <h5><%= t "pages.privacy.subtitlethreea" %></h5>
        <p>
          <%= t "pages.privacy.s3b" %>
        </p>
        <h5><%= t "pages.privacy.subtitlethreeb" %></h5>
        <p>
          <%= t "pages.privacy.s3c" %>
        </p>
        <ul>
          <li>
            <%= t "pages.privacy.s3d" %>
          </li>
          <li>
            <%= t "pages.privacy.s3e" %>
          </li>
          <li>
            <%= t "pages.privacy.s3f" %>
          </li>
          <li>
            <%= t "pages.privacy.s3g" %>
          </li>
        </ul>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectionfour" %></h3>
        <p>
          <%= t "pages.privacy.s4a" %>
        </p>
        <h5><%= t "pages.privacy.subtitlefoura" %></h5>
        <p>
          <%= t "pages.privacy.s4b" %>
        </p>
        <p>
          <%= t "pages.privacy.s4c" %>
        </p>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectionfive" %></h3>
        <p>
          <%= t "pages.privacy.s5a" %>
        </p>
        <p>
          <%= t "pages.privacy.s5b" %>
        </p>
        <p>
          <%= t "pages.privacy.s5c" %>
        </p>
        <h5><%= t "pages.privacy.subtitlefivea" %></h5>
        <p>
          <%= t "pages.privacy.s5d" %>
        </p>
        <p>
          <%= t "pages.privacy.s5e" %>
        </p>
        <p>
          <%= t "pages.privacy.s5f" %>
        </p>
        <h5><%= t "pages.privacy.subtitlefiveb" %></h5>
        <p>
          <%= t "pages.privacy.s5g" %>
        </p>
        <p>
          <%= t "pages.privacy.s5h" %>
        </p>
        <p>
          <%= t "pages.privacy.s5i" %>
        </p>
        <p>
          <%= t "pages.privacy.s5j" %>
        </p>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectionsix" %></h3>
        <p>
          <%= t "pages.privacy.s6a" %>
        </p>
        <p>
          <%= t "pages.privacy.s6b" %>
        </p>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectionseven" %></h3>
        <h5><%= t "pages.privacy.subtitlesevena" %></h5>
        <p>
          <%= t "pages.privacy.s7a" %>
        </p>
        <h5><%= t "pages.privacy.subtitlesevenb" %></h5>
        <p>
          <%= t "pages.privacy.s7b" %>
        </p>
        <h5><%= t "pages.privacy.subtitlesevenc" %></h5>
        <p>
          <%= t "pages.privacy.s7c" %>
        </p>
      </div>
      <div class="container">
        <h3><%= t "pages.privacy.sectioneight" %></h3>
        <p>
          <%= t "pages.privacy.s8a" %>
        </p>
      </div>
    </div>
  </section>
</div>

<%= render "pages/footer" %>
















