<div class="container">
  <section class="content-9">
    <div class="container">
      <div class="row">
        <h1><%= t "pages.terms.header" %></h1>
        <p>
          <%= t "pages.terms.preface" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionone" %></h3>
        <ul>
          <li>
            <%= t "pages.terms.s1a" %>
          </li>
          <li>
            <%= t "pages.terms.s1b" %>
          </li>
          <li>
            <%= t "pages.terms.s1c" %>
          </li>
          <li>
            <%= t "pages.terms.s1d" %>
          </li>
          <li>
            <%= t "pages.terms.s1e" %>
          </li>
          <li>
            <%= t "pages.terms.s1f" %>
          </li>
          <li>
            <%= t "pages.terms.s1g" %>
          </li>
          <li>
            <%= t "pages.terms.s1h" %>
          </li>
          <li>
            <%= t "pages.terms.s1i" %>
          </li>
        </ul>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwo" %></h3>
        <p><%= t "pages.terms.s2a" %></p>

        <ol>
          <li>
            <%= t "pages.terms.s2b" %>
          </li>
          <li>
            <%= t "pages.terms.s2c" %>
          </li>
        </ol>

        <p><%= t "pages.terms.s2d" %></p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwo_" %></h3>
        <p>
          <%= t "pages.terms.s2_a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionthree" %></h3>
        <p>
          <%= t "pages.terms.s3a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionfour" %></h3>
        <p>
          <%= t "pages.terms.s4a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionfive" %></h3>
        <p>
          <%= t "pages.terms.s5a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionsix" %></h3>
        <p>
          <%= t "pages.terms.s6a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionseven" %></h3>
        <p>
          <%= t "pages.terms.s7a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectioneight" %></h3>
        <p>
          <%= t "pages.terms.s8a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionnine" %></h3>
        <p>
          <%= t "pages.terms.s9a" %>
        </p>
        <ol>
          <li>
            <%= t "pages.terms.s9b" %>
          </li>
          <li>
            <%= t "pages.terms.s9c" %>
          </li>
          <li>
            <%= t "pages.terms.s9d" %>
          </li>
          <li>
            <%= t "pages.terms.s9e" %>
          </li>
          <li>
            <%= t "pages.terms.s9f" %>
          </li>
          <li>
            <%= t "pages.terms.s9g" %>
          </li>
          <li>
            <%= t "pages.terms.s9h" %>
          </li>
          <li>
            <%= t "pages.terms.s9i" %>
          </li>
          <li>
            <%= t "pages.terms.s9j" %>
          </li>
        </ol>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionten" %></h3>
        <p>
          <%= t "pages.terms.s10a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectioneleven" %></h3>
        <p>
          <%= t "pages.terms.s11a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwelve" %></h3>
        <p>
          <%= t "pages.terms.s12a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionthirteen" %></h3>
        <p>
          <%= t "pages.terms.s13a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionfourteen" %></h3>
        <p>
          <%= t "pages.terms.s14a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionfifteen" %></h3>
        <p>
          <%= t "pages.terms.s15a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionsixteen" %></h3>
        <p>
          <%= t "pages.terms.s16a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionseventeen" %></h3>
        <p>
          <%= t "pages.terms.s17a" %>
        </p>
        <ol>
          <li>
            <%= t "pages.terms.s17b" %>
          </li>
          <li>
            <%= t "pages.terms.s17c" %>
          </li>
          <li>
            <%= t "pages.terms.s17d" %>
          </li>
          <li>
            <%= t "pages.terms.s17e" %>
          </li>
          <p>
            <%= t "pages.terms.s17f" %>
          </p>
        </ol>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectioneighteen" %></h3>
        <p>
          <%= t "pages.terms.s18a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectionnineteen" %></h3>
        <p>
          <%= t "pages.terms.s19a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwenty" %></h3>
        <p>
          <%= t "pages.terms.s20a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwentyone" %></h3>
        <p>
          <%= t "pages.terms.s21a" %>
        </p>
        <ol>
          <li>
            <%= t "pages.terms.s21b" %>
          </li>
          <li>
            <%= t "pages.terms.s21c" %>
          </li>
          <li>
            <%= t "pages.terms.s21d" %>
          </li>
          <li>
            <%= t "pages.terms.s21e" %>
          </li>
        </ol>
        <p>
          <%= t "pages.terms.s21f" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwentytwo" %></h3>
        <p>
          <%= t "pages.terms.s22a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwentythree" %></h3>
        <p>
          <%= t "pages.terms.s23a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.sectiontwentyfour" %></h3>
        <p>
          <%= t "pages.terms.s24a" %>
        </p>
      </div>
      <hr>
      <div class="row">
        <h1><%= t "pages.terms.exhibitA" %></h1>
        <p>
          <%= t "pages.terms.prefaceA" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibitone" %></h3>
        <p>
          <%= t "pages.terms.e1a" %>
        </p>
        <ol>
          <li>
            <%= t "pages.terms.e1b" %>
          </li>
          <li>
            <%= t "pages.terms.e1c" %>
          </li>
          <li>
            <%= t "pages.terms.e1d" %>
          </li>
          <li>
            <%= t "pages.terms.e1e" %>
          </li>
          <li>
            <%= t "pages.terms.e1f" %>
          </li>
          <li>
            <%= t "pages.terms.e1g" %>
          </li>
          <li>
            <%= t "pages.terms.e1h" %>
          </li>
          <li>
            <%= t "pages.terms.e1i" %>
          </li>
          <li>
            <%= t "pages.terms.e1j" %>
          </li>
          <li>
            <%= t "pages.terms.e1k" %>
          </li>
          <li>
            <%= t "pages.terms.e1l" %>
          </li>
          <li>
            <%= t "pages.terms.e1m" %>
          </li>
          <li>
            <%= t "pages.terms.e1n" %>
          </li>
          <li>
            <%= t "pages.terms.e1o" %>
          </li>
          <li>
            <%= t "pages.terms.e1p" %>
          </li>
          <li>
            <%= t "pages.terms.e1q" %>
          </li>
          <li>
            <%= t "pages.terms.e1r" %>
          </li>
          <li>
            <%= t "pages.terms.e1s" %>
          </li>
          <li>
            <%= t "pages.terms.e1t" %>
          </li>
          <li>
            <%= t "pages.terms.e1u" %>
          </li>
          <li>
            <%= t "pages.terms.e1v" %>
          </li>
          <li>
            <%= t "pages.terms.e1w" %>
          </li>
          <li>
            <%= t "pages.terms.e1x" %>
          </li>
          <li>
            <%= t "pages.terms.e1y" %>
          </li>
        </ol>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibittwo" %></h3>
        <p>
          <%= t "pages.terms.e2a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibitthree" %></h3>
        <p>
          <%= t "pages.terms.e3a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibitfour" %></h3>
        <p>
          <%= t "pages.terms.e4a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibitfive" %></h3>
        <p>
          <%= t "pages.terms.e5a" %>
        </p>
        <ol>
          <li>
            <%= t "pages.terms.e5b" %>
          </li>
          <li>
            <%= t "pages.terms.e5c" %>
          </li>
          <li>
            <%= t "pages.terms.e5d" %>
          </li>
          <li>
            <%= t "pages.terms.e5e" %>
          </li>
          <li>
            <%= t "pages.terms.e5f" %>
          </li>
        </ol>
        <p>
          <%= t "pages.terms.e5g" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibitseven" %></h3>
        <p>
          <%= t "pages.terms.e7a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibiteight" %></h3>
        <p>
          <%= t "pages.terms.e8a" %>
        </p>
      </div>
      <div class="row">
        <h3><%= t "pages.terms.exhibitnine" %></h3>
        <p>
          <%= t "pages.terms.e9a" %>
        </p>
      </div>
    </div>
  </section>
</div>

<%= render "pages/footer" %>