<div class="col-sm-12">
  <% if !@sleeps.empty? %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Sleep Entries</h3>
        </div>
        <div class="panel-body">
          <%
             if @sleep_lookback_period == 'week'
               lookback_range = date_range_for('this_week')
             elsif @sleep_lookback_period == 'last_week'
               lookback_range = date_range_for('last_week')
             elsif @sleep_lookback_period == 'month'
               lookback_range = date_range_for('this_month')
             elsif @sleep_lookback_period == 'last_month'
               lookback_range = date_range_for('last_month')
             elsif @sleep_lookback_period == 'year'
               lookback_range = date_range_for('this_year')
             elsif @sleep_lookback_period == 'last_year'
               lookback_range = date_range_for('last_year')
             end

             sleeps_for_lookback_period = @sleeps.where(finish_time: lookback_range)
             sleeps_for_lookback_period = sleeps_for_lookback_period.order('finish_time DESC')

             sleeps_for_lookback_period.each do |sleep| %>

              <% if sleep.user_id == current_user.id || (current_user.is? :superuser) || (current_user.is? :pro) && (current_user.clients.include? sleep.user_id) %>
                  <div class="col-md-4">
                    <h4><%= sleep.finish_time.strftime("%a - %B %e, %Y") %></h4>
                  </div>
                  <div class="col-md-4">
                    <p>
                      <strong>Sleep Start Time:</strong>
                      <%= I18n.l sleep.start_time, format: :long_am_pm %>
                    </p>

                    <p>
                      <strong>Sleep Finish Time:</strong>
                      <%= I18n.l sleep.finish_time, format: :long_am_pm %>
                    </p>

                    <p>
                      <strong>Sleep Quality:</strong>
                      <% if sleep.quality == 1 %>
                          <%= "Broken" %>
                      <% elsif sleep.quality == 2 %>
                          <%= "Light" %>
                      <% elsif sleep.quality == 3 %>
                          <%= "Normal" %>
                      <% elsif sleep.quality == 4 %>
                          <%= "Deep" %>
                      <% end %>
                      (<%= sleep.quality %>)
                    </p>
                  </div>
                  <div class="col-md-4">
                    <%= link_to 'Edit', edit_sleep_path(sleep, modal_enabled: 'true'), remote: true, class: "btn-default btn-xs" %>
                    <%= link_to 'Remove', sleep_delete_path(sleep, modal_enabled: 'true'), class: "btn-danger btn-xs", remote: true, sleep: sleep %>
                  </div>
                  <div class="col-md-12">
                    <hr>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>