<% render "shared/set_lookback" %>

<%
   $capture_date = Time.zone.now.to_date
   todays_sleeps = Sleep.where(user_id: current_user.id, finish_time: (Time.zone.now.to_date.in_time_zone.at_beginning_of_day..Time.zone.now.to_date.in_time_zone.end_of_day))
%>

<div class="container">
  <div>
    <% if (@user == nil || @user.id == current_user.id) && todays_sleeps.count < MAX_SLEEP_ENTRIES %>
        <h1><%= current_user.first_name.to_s + " " + current_user.last_name.to_s %>
          <h1>
            <%= link_to t("shared.index.add"), new_sleep_path(modal_enabled: 'true'), remote: true, class: "btn btn-primary" %>
    <% else %>
        <% if @user == nil %>
            <% user = current_user %>
        <% else %>
            <% user = @user %>
        <% end %>
        <h1><%= user.first_name.to_s + " " + user.last_name.to_s %>
          <h1>
    <% end %>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t "sleeps.index.change" %><span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% if params.has_key?(:user_id) %>
            <li><%= link_to t("repeat.dmy.lasty"), user_sleeps_path(@user, sleep_lookback_period: 'last_year') %></li>
            <li><%= link_to t("repeat.dmy.lastm"), user_sleeps_path(@user, sleep_lookback_period: 'last_month') %></li>
            <li><%= link_to t("repeat.dmy.lastw"), user_sleeps_path(@user, sleep_lookback_period: 'last_week') %></li>
            <li><%= link_to t("repeat.dmy.thisw"), user_sleeps_path(@user, sleep_lookback_period: 'week') %></li>
            <li><%= link_to t("repeat.dmy.thism"), user_sleeps_path(@user, sleep_lookback_period: 'month') %></li>
            <li><%= link_to t("repeat.dmy.thisy"), user_sleeps_path(@user, sleep_lookback_period: 'year') %></li>
        <% else %>
            <li><%= link_to t("repeat.dmy.lasty"), sleeps_path(sleep_lookback_period: 'last_year') %></li>
            <li><%= link_to t("repeat.dmy.lastm"), sleeps_path(sleep_lookback_period: 'last_month') %></li>
            <li><%= link_to t("repeat.dmy.lastw"), sleeps_path(sleep_lookback_period: 'last_week') %></li>
            <li><%= link_to t("repeat.dmy.thisw"), sleeps_path(sleep_lookback_period: 'week') %></li>
            <li><%= link_to t("repeat.dmy.thism"), sleeps_path(sleep_lookback_period: 'month') %></li>
            <li><%= link_to t("repeat.dmy.thisy"), sleeps_path(sleep_lookback_period: 'year') %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <%= render "shared/chart_sleep" %>
    </div>

    <div>
      <%= render "details" %>
    </div>
  </div>