<div class="container">
  <br>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if current_user.is? :user %>
            <h3 class="panel-title"><%= t "mydevise.invitations.new.invite" %></h3>
        <% end %>
      </div>
      <div class="panel-body">
        <% if current_user.is? :user %>
            <p><%= t "mydevise.invitations.new.enter" %></p>
        <% end %>

        <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
            <%= devise_error_messages! %>

            <% resource.class.invite_key_fields.each do |field| -%>
                <p>
                  <%= f.text_field field %></p>
            <% end -%>

            <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
