<%= form_for(@passive_sleep) do |f| %>
  <% if @passive_sleep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passive_sleep.errors.count, "error") %> prohibited this passive_sleep from being saved:</h2>

      <ul>
      <% @passive_sleep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passive_data_id %><br>
    <%= f.number_field :passive_data_id %>
  </div>
  <div class="field">
    <%= f.label :category_type %><br>
    <%= f.text_field :category_type %>
  </div>
  <div class="field">
    <%= f.label :category_value %><br>
    <%= f.text_field :category_value %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
