<%= bootstrap_form_for @journal, remote: true do |f| %>
    <div class="modal-body">
      <% if @journal.errors.any? %>
          <ul class="errors"></ul>
          <div id="error_explanation">
            <h2><%= t("journals.form.error", :error => pluralize(@journal.errors.count, "error")) %></h2>
            <ul>
              <% @journal.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label t("journals.form.entry") %> <br>
        <%= f.text_area :journal_entry, hide_label: true, size: 150, rows: 10 %>
      </div>

      <% if !current_page?(action: 'new') %>
          <div class="form-group">
            <%= f.label t("journals.form.timestamp") %> <br>
            <%= f.datetime_local_field :timestamp, hide_label: true %>
          </div>
      <% end %>
    </div>

    <br>

    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <% if params[:modal_enabled] != 'true' %>
          <%= link_to t("menu.cancel"), journals_cancel_path, remote: true, class: "btn btn-default" %>
      <% else %>
          <%= link_to t("menu.cancel"), "#", class: "btn btn-default", data: {dismiss: "modal"} %>
      <% end %>
    </div>
<% end %>
