<div>
  <% if @rails_user == nil %>
    <h1><%= current_rails_user.first_name.to_s + " " + current_rails_user.last_name.to_s %><h1>
    <%= link_to 'Add a new Journal Entry', new_journal_path(modal_enabled: 'true'), remote: true, class: "btn btn-primary" %>
  <% else %>
    <h1><%= @rails_user.first_name.to_s + " " + @rails_user.last_name.to_s %><h1>
  <% end %>
</div>

<div>
  <%= render "shared/chart_journal" %>
</div>

<div class="col-sm-12">
  <% if !@journals.empty? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Journal Entries</h3>
      </div>
      <div class="panel-body">
        <% @journals = @journals.order('created_at DESC')
          @journals.each do |journal| %>
          <% if journal.user_id == current_rails_user.id || (current_rails_user.is? :superuser) || (current_rails_user.is? :pro) && (current_rails_user.clients.include? journal.user_id) %>
            <div class="col-md-8">
                <h4><%= journal.created_at.strftime("%a - %b %e, %Y - %m:%M %p") %></h4>
            </div>
            <div class="col-md-4">
              <%= link_to 'Edit', edit_journal_path(journal, modal_enabled: 'true'), remote: true, class: "btn-default btn-xs" %>
              <%= link_to 'Remove', journal_delete_path(journal, modal_enabled: 'true'),  class: "btn-danger btn-xs", remote: true, journal: journal %>
            </div>
            <div class="col-md-12">
              <p>
                <%= journal.journal_entry %>
              </p>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>