<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "journals.show" %></strong>
  <%= @journal.created_at %>
</p>

<p>
  <strong><%= t "journals.form.entry" %></strong>
  <%= @journal.journal_entry %>
</p>

<% if can? :manage, @journal %>
    <%= link_to t("menu.edit"), edit_journal_path(@journal) %> |
<% end %>
<%= link_to t("menu.back"), :back %>
