<div class="container">
  <br>

  <div class="col-sm-12">
    <%
       if @supported_thrivers != nil
         @supported_thrivers.sort_by { |r| r.last_name.downcase }
       end
    %>

    <% if !@requested_thrivers.empty? %>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <% if current_user.is? :supporter %>
                <h3 class="panel-title">Requests for Connection from Peer</h3>
            <% end %>
          </div>
          <div class="panel-body">
            <% for user in @requested_thrivers %>
                <% if (user.is? :pro) || (user.is? :user) %>
                    <div class="col-md-4">
                      <h3><%= user.first_name + " " + user.last_name %></h3>

                      <p><%= user.email %></p>
                    </div>
                    <div class="col-md-8">
                      <h3></h3>
                      <%= link_to "Accept", connection_path(user), :method => "put", class: "btn-primary btn-xs" %>
                      <%= link_to "Reject", connection_path(user), :method => "delete", data: {confirm: "Are you sure you want to reject this connection?"}, class: "btn-danger btn-xs" %>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Thrivers List</h3>
      </div>
      <div class="panel-body">
        <% if !@supported_thrivers.blank? %>
            <% @supported_thrivers.each do |thriver| %>
                <div class="col-md-4">
                  <h3><%= thriver.first_name + " " + thriver.last_name %></h3>

                  <p><%= thriver.email %></p>
                </div>
                <div class="col-md-8">
                  <h3></h3>
                  <%= link_to 'Send Card', new_message_path(thriver_id: thriver.id), class: "btn-primary btn-xs" %>
                </div>
                <div class="col-md-12">
                  <hr>
                </div>
            <% end %>
        <% else %>
            <div>
              <h3>No connections available</h3>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

