<p><%= t "repeat.hi" %> <%= @resource.first_name %>,</p>

<p><%= t("devise.mailer.confirmation.create", :var => @resource.email) %></p>

<p><%= t "devise.mailer.confirmation.follow" %></p>

<p><%= link_to t("repeat.confirm"), confirmation_url(@resource, confirmation_token: @token) %></p>

<p><%= t "devise.mailer.confirmation.onceactive" %></p>

<p><%= t "devise.mailer.confirmation.welcome" %></p>

<p><%= t "repeat.signature" %></p>

<p><%= t("devise.mailer.confirmation.forward_html", :email => mail_to(t("repeat.support_email"))) %></p>