<p><%= t "repeat.hello" %> <%= @resource.first_name %>!</p>

<p><%= t "devise.mailer.reset.someone" %></p>

<p><%= link_to t("repeat.changepw"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devise.mailer.reset.ignore" %></p>
<p><%= t "devise.mailer.reset.unless" %></p>
