<p><%= t "repeat.hello" %> <%= @resource.email %>!</p>

<p><%= t "devise.mailer.unlock.locked" %></p>

<p><%= t "devise.mailer.unlock.click" %></p>

<p><%= link_to t("repeat.unlock"), unlock_url(@resource, unlock_token: @token) %></p>
