<div class="capture-delorean">
  <%= render "capture/delorean" %>
</div>

<% if $current_capture_screen == "Mood" %>
  <div class="capture-nav">
      <%= render "capture/nav/mood" %>
  </div>
  <div class="capture-window">
    <%= render "capture/show/mood"%>
  </div>
<% elsif $current_capture_screen == "Sleep" %>
  <div class="capture-nav">
      <%= render "capture/nav/sleep" %>
  </div>
  <div class="capture-window">
    <%= render "capture/show/sleep"%>
  </div>
<% elsif $current_capture_screen == "SelfCare" %>
  <div class="capture-nav">
      <%= render "capture/nav/self_care" %>
  </div>
  <div class="capture-window">
    <%= render "capture/show/self_care"%>
  </div>
<% elsif $current_capture_screen == "Journal" %>
  <div class="capture-nav">
      <%= render "capture/nav/journal" %>
  </div>
  <div class="capture-window">
    <%= render "capture/show/journal"%>
  </div>
<% end %>