<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "reviews.show.counter" %></strong>
  <%= @review.review_counter %>
</p>

<p>
  <strong><%= t "reviews.show.ldate" %></strong>
  <%= @review.review_last_date %>
</p>

<p>
  <strong><%= t "reviews.show.tdate" %></strong>
  <%= @review.review_trigger_date %>
</p>

<%= link_to t("menu.edit"), edit_review_path(@review) %> |
<%= link_to t("menu.back"), reviews_path %>
