<div class="container">
  <section class="content-9">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" id="research-title">
          <h1><%= t "research.study.invitation" %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" id="research-button">
          <a class="typeform-share btn btn-success" href="https://thrivestreams.typeform.com/to/Po4hl0" data-mode="1" target="_blank"><%= t "repeat.signup" %></a>
          <script>(function () {
              var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = 'typef_orm', b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
              if (!gi.call(d, id)) {
                  js = ce.call(d, 'script');
                  js.id = id;
                  js.src = b + 'share.js';
                  q = gt.call(d, 'script')[0];
                  q.parentNode.insertBefore(js, q)
              }
              id = id + '_';
              if (!gi.call(d, id)) {
                  qs = ce.call(d, 'link');
                  qs.rel = 'stylesheet';
                  qs.id = id;
                  qs.href = b + 'share-button.css';
                  s = gt.call(d, 'head')[0];
                  s.appendChild(qs, s)
              }
          })()</script>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            <%= t("pages.research.study.invitedp1_html", :link => link_to(t("pages.research.study.thrivesync"), root_path)) %>
          </p>
          <p>
            <%= t "pages.research.study.invitedp2" %>
          </p>
          <p>
            <%= t("pages.research.study.invitedp3_html", :link => link_to(t("pages.research.study.thrivesync"), root_path)) %>
          </p>
        </div>
        <div class="col-sm-5 col-sm-offset-1 hidden-xs">
          <%= image_tag("smiling-girl-with-phone.jpeg") %>
        </div>
        <div class="col-sm-12" id=.research.study.body-1">
          <h4><%= t "pages.research.study.benefits" %></h4>
          <p>
            <%= t "pages.research.study.benefitsp1" %>
          </p>
          <p>
            <%= t("pages.research.study.benefitsp2_html", :link => link_to(t("pages.research.study.thrivesync"), root_path)) %>
          </p>
          <h4><%= t "pages.research.study.doing" %></h4>
          <p>
            <%= t("pages.research.study.doingp1_html", :link => link_to(t("pages.research.study.thrivesync"), root_path)) %>
          </p>
          <h4><%= t "pages.research.study.requirements" %></h4>
          <p>
            <%= t "pages.research.study.requirementsp1" %>
          </p>
          <h4><%= t "pages.research.study.who" %></h4>
          <p>
            <%= t("pages.research.study.whop1_html", :link1 => link_to(t("pages.research.study.transcendentendeavors"), "http://www.transcendentendeavors.com", target: '_blank'), :link2 => link_to(t("pages.research.study.nationalinstitutes"), "http://www.nih.gov/", target: '_blank'))%>
          </p>
          <p>
            <%= t("pages.research.study.whop2_html", :email => mail_to(t("pages.research.study.email"), t("pages.research.study.email"), subject: "ThriveSync Research Study")) %>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" id="research-button">
        <a class="typeform-share btn btn-success" href="https://thrivestreams.typeform.com/to/Po4hl0" data-mode="1" target="_blank"><%= t "repeat.signup" %></a>
        <script>(function () {
            var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = 'typef_orm', b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
            if (!gi.call(d, id)) {
                js = ce.call(d, 'script');
                js.id = id;
                js.src = b + 'share.js';
                q = gt.call(d, 'script')[0];
                q.parentNode.insertBefore(js, q)
            }
            id = id + '_';
            if (!gi.call(d, id)) {
                qs = ce.call(d, 'link');
                qs.rel = 'stylesheet';
                qs.id = id;
                qs.href = b + 'share-button.css';
                s = gt.call(d, 'head')[0];
                s.appendChild(qs, s)
            }
        })()</script>
      </div>
    </div>
  </section>
</div>
