<%= form_for @self_care, remote: true do |f| %>
  <div class="modal-body">
    <% if @self_care.errors.any? %>
      <ul class="errors"></ul>
      <div id="error_explanation">
        <h2><%= pluralize(@self_care.errors.count, "error") %> prohibited this self care entry from being saved:</h2>
        <ul>
        <% @self_care.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.hidden_field :counseling, :value => false %>
      <%= f.label :counseling %><br>
      <%= f.check_box :counseling %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :medication, :value => false %>
      <%= f.label :medication %><br>
      <%= f.check_box :medication %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :meditation, :value => false %>
      <%= f.label :meditation %><br>
      <%= f.check_box :meditation %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :exercise, :value => false %>
      <%= f.label :exercise %><br>
      <%= f.check_box :exercise %>
    </div>
  </div>
    
  <br>

  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <% if current_page?(:controller => 'self_cares', :action => 'new') %>
      <%= link_to 'Cancel', self_cares_cancel_path, remote: true, class: "btn btn-default" %>
    <% elsif current_page?(:controller => 'self_cares', :action => 'edit') || current_page?(:controller => 'self_cares', :action => 'destroy') %>
      <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
    <% end %>
  </div>
<% end %>
