<p id="notice"><%= notice %></p>

<p>
  <strong>Counseling:</strong>
  <% if @self_care.counseling == false %>
    <%= "No" %>
  <% elsif @self_care.counseling == true %>
    <%= "Yes" %>
  <% end %>
</p> 

<p>
  <strong>Medication:</strong>
  <% if @self_care.medication == false %>
    <%= "No" %>
  <% elsif @self_care.medication == true %>
    <%= "Yes" %>
  <% end %>
</p> 

<p>
  <strong>Meditation:</strong>
  <% if @self_care.meditation == false %>
    <%= "No" %>
  <% elsif @self_care.meditation == true %>
    <%= "Yes" %>
  <% end %>
</p> 

<p>
  <strong>Exercise:</strong>
  <% if @self_care.exercise == false %>
    <%= "No" %>
  <% elsif @self_care.exercise == true %>
    <%= "Yes" %>
  <% end %>
</p> 

<% if can? :manage, @self_care %>
	<%= link_to 'Edit', edit_self_care_path(@self_care) %> | 
<% end %>
<%= link_to 'Back', :back %>
