<%= render "shared/header" %>

<%= render "shared/flash_notices", flash: flash %>

<div class="page-wrapper">
  <%= yield %>
</div>

<%= render "layouts/google_analytics" %>

<%= render "shared/footer" %>